*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image:radial-gradient(circle, #ff0000, #3a5fcd);
}
header{
    display: flex;
  justify-content: center;
  align-items: center;
   left: 30%;
   gap: 1%;

}

h1{
  
    
  color: rgba(255, 0, 0, 0.795);
  
}
div > h1 {
    color:rgb(0, 102, 255);
}   

main{


}
.homens_aranha{
width: 350px;
margin-left: 45px;
margin-top: 5%;


}
.homem_raio{
width: 18%;
height: 50%;
bottom: 30%;

}
.simb{
    width: 13.6%;
    height: 60%;
    
}
