*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image:radial-gradient(circle, #f1f0f0, #202124);
}
header{
    display: flex;
  justify-content: center;
  align-items: center;
   left: 30%;
   gap: 1%;

}

h1{
  
    
  color: rgba(22, 19, 19, 0.795);
  
}
div > h1 {
    color:white
}   
main{

}

.YuriPreto{
    width: 400px;
    margin-left: 20%;
    margin-bottom: 0%;
}
.YuriVerde{
    width: 258px;
    right: -15%;
}
.YuriBranco{

    width: 250px;
}
.YuriDeslize{
   width: 190px;
   height: 180px;
   margin-bottom: 14.3%;
   margin-left: -16%;

}

